body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
}

.header {
    display: inline-flex;
    background-color: #1F2937;
    padding: 20px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    align-self: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 18px;
    align-items: center;
    
}

.header-link a {
    color: #E5E7EB;
}

.hero {
    display: flex;
    background: #1F2937;
    padding: 20px;
}

.hero-img {
    max-width: 450px;
}

.empty-div-flex {
    flex: 1 1 auto;
}


.empty-div-flex-2{
    flex: 1 2 auto;
    max-width: 80px;
    min-width: 5px;
}


.hero-header {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8
}
