body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
}

.header {
    display: inline-flex;
    background-color: #1F2937;
    padding: 20px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    align-self: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 18px;
    align-items: center;
    
}

.header-link a {
    color: #E5E7EB;
}

.hero {
    display: flex;
    background: #1F2937;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.hero-img {
    max-width: 400px;
    flex-wrap: wrap;
    flex: 2 3 auto;
    min-width: 300px;
}

.empty-div-flex {
    flex: 1 1 auto;
}


.empty-div-flex-2{
    flex: 2 2 auto;
    max-width: 80px;
    min-width: 5px;
}


.hero-header {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.left-side-hero {
    max-width: 500px;
    flex: 1 2 auto;
}
.sign-up-button {
    background-color: #3882F6;
    border-radius: 8px;
    min-width: 100px;
    min-height: 30px;
    font-weight: 600;
    color: #FFF;
    border-style: none;
    margin-top: 10px;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}

.item-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-bottom: 40px;
    align-self: center;
}

.item-box {
    width: 140px;
    height: 140px;
    border: #3882F6 solid 3px;
    border-radius: 10px;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.caption {
    max-width: 140px;
    text-align: center;
    padding-top: 5px;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 650px;
    align-self: center;
    text-align: normal;
    font-weight: 100;
}

.quote-author {
    text-align: right;
    max-width: 700px;
    float: right;
    font-size: medium;
    font-weight: 700;
    font-style: normal;
    padding: 5px;
}